<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="{{ url_for('static', filename='menu.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="form-container">
        <h2>🔐 Авторизация</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="POST">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="form-group">
                  <label for="user_type">Вход для внешнего пользователя</label>
                  <input type="checkbox" id="user_type" name="user_type" value="external">
            </div>
            <button type="submit" class="submit-btn">Войти</button>
        </form>
    </div>
</body>
</html>
